{% extends "layout2.html" %}
{% block body %}

<h1>Muselon</h1>
<a href="">Worlds</a> | 
<a href="">Profile</a> | 
<a href="Logout">Logout</a>

<hr />
<ul>
<li>Thread: <a href="">Horatio Arrives</a></li>
<li>Horatio wonders what Hamlet's been up to since he left Wittenberg.
<li>Location: <a href="">HamletWorld</a> &gt; <a href="">The Castle</a></li>
</ul>
<hr />

<section id="hjapp"  ng-controller="ThreadCtrl" >	

<table>
	<tr ng-repeat="commentblock in commentblocks">
		<td><p class="author">[[commentblock.author]]</p></td>
		<td>
			<div ng-repeat="comment in commentblock.comments" ng-switch on="comment.type" class="post">
				<!--Decription-->
				<div ng-switch-when="0" class="description" ng-bind-html="comment.text"></div>
				<!--Dialogue-->
				<div ng-switch-when="1">
					<img src = "../static/userimg/[[comment.authorId]]/default.jpg" class="char-icon" style="height:50px; width:50px;"/>
					<div class="bubble" ng-bind-html="comment.text"></div>
				</div>
			</div>
		</td>
	</tr>
</table>

	<hr />
<table>
	<tr>
		<form ng-submit="submitPost()">

		<td class="author">
			<select ng-model="post.selectedCharacterName" style="width: 100px">
				<option ng-repeat="character in availableCharacters">[[character.name]]</option>
			</select>
		</td>
		<td class="post">
			<select ng-model="post.type">
				<option value="description">Description</option>
				<option value="dialogue">Dialogue</option>
			</select>
				
			<div ng-switch on="post.type" >
        	<div ng-switch-when="description">
					<textarea rows="3" class="field span8" ng-model="post.text"></textarea> <br />
        	</div>
	        <div ng-switch-when="dialogue">
	            	<button class="btn"><img src="../static/userimg/[[post.selectedCharacterId]]/default.jpg" /></button>
					<textarea rows="3" ng-model="post.text"></textarea> <br />
	        </div>
    	    <span ng-switch-default>ERROR</span>
    		</div>
    		
    		<button class="btn" ng-click="append()"> Append </button>
			<button type="submit" class="btn btn-primary"> Post </button>
    	</td>
    	</form>
	</tr>
</table>
    	
</section>


{% endblock %}